version: '3.8'

services:
  docs-sp-nginx:
    image: registry.digitalocean.com/spuy/docs-sp:main
    container_name: docs-sp-nginx
    ports:
      - "8081:80"
    restart: unless-stopped
    environment:
      - TZ=America/Montevideo
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
